/* Importar solo fuentes válidas */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", Arial, sans-serif; /* Fuente base */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-family: "Manrope", sans-serif; /* Diferente para destacar títulos */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: solid 20px #000;
    margin-bottom: 20px;
}

#foto-perfil {
    border-radius: 50%;
    border: 5px solid #4CAF50;
}

article {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    float:left
}